.nav-padding {
  padding-top: 10px;
}

.jumbotron{
  height: 100vh;
  background-image: url(../img/camera2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.start-info{
  padding-top: 5vh;
}

.profile{
  margin: 0 auto;
}

.social{
  width: 30px;
  height: auto;
}

.construction{
  padding-top: 60px;
}
